.best {
    .container {
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        
        @media (max-width: $maxTablet){
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        margin: 100px auto 0 auto;
    }

    &__row {
        display: flex;
        flex-direction: row;
        margin-top: 60px;
        justify-content: center;
        @media (max-width: 1045px) {
            flex-wrap: wrap;
        }
        @media (max-width: $maxTablet){
            flex-direction: column;
        }
    }

    &__row-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        margin-left: 120px;
        &:first-child{
            margin-left: 50px;
        }

        @media (max-width: $maxDesc) {
            margin-left: 50px;
            &:first-child{
                margin-left: 0px;
            }
        }
        @media (max-width: 1280px) {
            margin-left: 0;
        }
    }

    &__row-img {
        margin-bottom: 21px;
    }

    
    .main {
        &__title {
            display: flex;
            
            
            @media (max-width: $maxMobile) {
                font-size: 24px;
            }
            @media (max-width: 1440px) {
                justify-content: center;
                align-items: center;
            }
        }

        &__desc {
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            @media (max-width: $maxMobile) {
                font-size: 14px;
            }
        }
    }
}
