.header {
  .container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  .nav {
      &__row {
        margin: 20px 0 0 0;
        @media (max-width: $mobile-menu-breakpoint) {
          margin-left: 0px;
        }
      }
  }
}