$black: #000000;
$white: #fff;

$base-font-size: 16px;

$bigDesc: '2560px';
$maxDesc: '1440px';
$mobile-menu-breakpoint: '990px';
$maxTablet: '768px';
$maxMobile: '600px';

/*--fonts*/
$fontGothic: "Century Gothic";
$fontGrava: "Grava Display";


/*--color--*/
$buttonGradien: linear-gradient(113.47deg, rgba(18, 97, 164, 0.31) 0%, rgba(18, 97, 164, 0.26) 0.01%, rgba(18, 97, 164, 0.12) 100%);
$background: #121212;
$gradient: linear-gradient(180deg, rgba(0, 133, 255, 0) 0%, #0085FF 100%);





